<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ recipeDetails?.title || 'Recipe Details' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <h1>{{ recipeDetails?.title }}</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading recipe...</p>
  </div>

  <div *ngIf="error">
    <p>{{ error }}</p>
  </div>

  <img [src]="recipeDetails.image" [alt]="recipeDetails.title" />
</ion-content>