<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      G00472941
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="heart"><img src="https://unpkg.com/ionicons@7.1.0/dist/svg/heart.svg"
                alt="Heart Icon"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-button>

      <ion-button>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Enter Ingredients</ion-label>
    <ion-input type="text" placeholder="carrots, beef, potatoes" [(ngModel)]="ingredients"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="primary" (click)="searchRecipes()">SEARCH</ion-button>
  </ion-item>
  <div class="recipe-results">
    <ion-card *ngFor="let recipe of recipes">
      <img [src]="recipe.image" alt="Image of {{recipe.title}}" />

      <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button size="small" color="primary" [routerLink]="['/recipes', recipe.id]">
          DETAILS
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>