<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h2>Display Recipe Measurements In:</h2>
      </ion-label>
    </ion-item>
    <ion-radio-group [value]="selectedUnit" (ionChange)="unitChanged($event)">
      <ion-item lines="full">
        <ion-label>Metric</ion-label>
        <ion-radio slot="start" value="Metric" justify="start"></ion-radio>
      </ion-item>
      <ion-item lines="full">
        <ion-label>US</ion-label>
        <ion-radio slot="start" value="US" justify="start"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>